<div class="text-center">
  <h1>Search</h1>
  <%= form_tag teams_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <% end %>

</div>

<% @teams.each do |team| %>
            <p class="card-text">
                <strong><%= team.name %></strong>
                <strong><%=team.description%></strong>
            </p>
            <%= link_to "View", team_path(team), class: 'btn btn-info' %>
<% end %>
