<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <!-- <li class="sidebar-brand">
              <%= link_to team_path(@team) do %>
                <img src="<%= @team.img %>" alt="avator image" height='100px' width='100px'>
              <%end%>
              <h4><%= @team.name %></h4>
            </li> -->
            <li class="sidebar-brand">
                <a href="/">
                    TeamUp
                </a>
            </li>
            <% @users.each do |user| %>
            <li class="team_avator">
              <%= link_to user_path(user) do %>
                <%= user.first_name %> <%= user.last_name %>
                <% end %>
            </li>
            <% end %>
            <li>
              <%= link_to 'Invite Users', search_users_path %>
            </li>
            <li>
              <%= link_to 'Meetings', meetings_path %>
            </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  <div class="col-md-4">
                  <img src="<%= @team.img %>" alt="avator image" height='100px' width='100px' style='border-radius:100px'>

                  <h2><%= @team.name %></h2>
                  <p><i>-- <%= @team.description %></i></p>
                  <h5>&emsp;created by
                    <%= @creator.first_name%>
                    <%=@creator.last_name%>
                    on <%= @team.created_at.to_s[0..9]%>
                  </h5>
                </div>
                <div class="col-md-8">
                  <div class="col-md-10">
                      <br>
                      <%= month_calendar events: @meetings do |date, meetings| %>
                      <%= date.to_s[5..10] %>
                      <% meetings.each do |meeting| %>
                      <div>
                        <%= meeting.name %>
                      </div>
                      <% end %>
                      <% end %>
                      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Main Menu</a>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
