<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>All Meetings</h3>
            <div class="col-md-12 objectives">
                <div class="col-md-3">
                    <h4>Name</h4>
                </div>
                <div class="col-md-3">
                    <h4>Start time</h4>
                </div>
                <div class="col-md-3">
                    <h4>End time</h4>
                </div>
                <% @meetings.each do |meeting| %>
                <div class="col-md-12">
                    <div class="col-md-3">

                        <%= meeting.name %>
                    </div>
                    <div class="col-md-3">
                        <%= meeting.start_time %>
                    </div>
                    <div class="col-md-3">
                        <%= meeting.end_time %>
                    </div>
                    <div class="col-md-3">

                        <%= link_to 'Show', meeting %>
                        <%= link_to 'Edit', edit_meeting_path(meeting) %>
                        <%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                </div>

                <% end %>
                <hr>


            </div>
            
            <%= link_to 'New Meeting', new_meeting_path, class:'btn btn-danger' %>

        </div>

    </div>
</div>
