<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>

            &emsp;<%= link_to "On Track", objectives_path(:status=>"On Track"), class: "btn btn-success" %>
            <%= link_to "Behind", objectives_path(:status=>"Behind"), class: "btn btn-warning" %>
            <%= link_to "At Risk", objectives_path(:status=>"At Risk"), class: "btn btn-danger" %>
            <%= link_to "Summary", objectives_path(:status=>"All"), class: "btn btn-info" %>

            <div class="objectives">
                <% if @objectives.length !=0 %>
                <% @objectives.each do |objective| %>
                <div class="objective">
                    <strong>
                        <h5><%= objective.title %></h5>
                    </strong>
                    <i><%=objective.description%></i>
                    <strong><%=objective.status%></strong>

                    <%= link_to 'Show', objective %>
                    <%if objective.user_id == current_user.id%>
                    |
                    <%= link_to 'Edit', edit_objective_path(objective) %>
                    |
                    <%= link_to 'Destroy', objective, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                </div>

                <% end %>
            <% else %>

                <div>
                  <%= pie_chart @objectives_month.group(:status).count %>
                  <%= column_chart @objectives_month.group_by_day_of_week(:created_at, format: "%a").count %>
                </div>
                <% end %>


            </div>
            <hr>
            <%= link_to "Create New Objective", new_objective_path, class: 'btn btn-danger' %>
            <%= link_to "Back", team_path(current_team), class: 'btn btn-info' %>

        </div>
    </div>
</div>
