<div id="wrapper">
        <% if current_user == @user%>
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="/">
                        <h3>TeamUp</h3>
                    </a>
                </li>
                <br>
                <% @teams.each do |team| %>
                <li class="team_avator">
                  <%= link_to team_path(team) do %>
                    <img src="<%=team.img %>" height='90px' width='90px' style='border-radius:100px'>
                    <% end %>
                    <br>
                </li>
                <% end %>
                <li>
                  <%= link_to new_team_path do %>
                    <img src="http://www.magnetstreet.com/assets/icons/color-wheel-target.svg" height='90px' width='90px'>
                    <% end %>
                </li>

            </ul>
        </div>
        <% end %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-2">
                            <h3>Welcome</h3>

                            <h4><i><%= @user.first_name%> <%= @user.last_name%>!</i>
                            </h4>
                            <br>
                            <img src="<%= @user.img %>" alt="profile image" height='170px' width='170px' style='border-radius:100px'>
                            <br><br><hr>
                            <h4>
                                <i><%= @user.email %></i>
                            </h4>
                            <h4>
                                <i><%= @user.position %></i>
                            </h4>
                            <h5>Joined on
                                <%= @time %></h5>
                                <% if current_user == @user%>
                                <%= link_to "Edit", edit_user_path(@user) %> |
                                <a href="#menu-toggle" id="menu-toggle">Switch Team</a>
                                <%end%>
                                <% if @user != current_user %>
                                <%= link_to "Add", add_user_path(@user),:controller => :team, :action => :add_to_team, method: :POST, class: "btn btn-primary" %>
                                <% end %>
                        </div>
                        <div class="col-md-10">
                          <div class="col-md-5">
                            <% unless @active_objectives.length ==0 %>
                            <h4>Active Objectives</h4>
                            <% end %>
                            <% @active_objectives.each do |objective| %>
                            <div class="col-md-12 objective">

                                  <% if objective.status == 'On Track' %>
                                    <strong><span style="color:#5cb85c"><%=objective.status%></span></strong>
                                    <% elsif objective.status == 'Behind' %>
                                    <strong><span style="color:#f0ad4e"><%=objective.status%></span></strong>
                                    <% else %>
                                    <strong><span style="color:#d9534f"><%=objective.status%></span></strong>
                                    <% end %>

                                    &emsp;<strong><%= link_to "#{objective.title}", objective_path(objective) %></strong>
                                    <div id='progress'>
                                        <i><%=objective.progress%>% - Due in
                                        <%= distance_of_time_in_words_to_now(objective.deadline)%></i>
                                    </div>

                            </div>
                            <% end %>



                          </div>
                          <div class="col-md-7">
                            <% unless @followups.length ==0 %>
                            <h4>Current Follow Ups</h4>
                            <% end %>
                            <% @followups.each do |followup| %>
                            <div class="col-md-12 objective">
                              <div class="col-md-3 userinfo">

                                  <img src="<%= User.find(followup.user_id).img %>" height='32px' width='32px' style='border-radius:100px'>
                                  <!-- Move the code here to controller later-->
                                  <%= User.find(followup.user_id).first_name %>
                                  <%= User.find(followup.user_id).last_name[0] %>
                              </div>

                                <div class="col-md-8 status">
                                  <% if followup.status == 'On Track' %>
                                    <strong><span style="color:#5cb85c"><%=followup.status%></span></strong>
                                    <% elsif followup.status == 'Behind' %>
                                    <strong><span style="color:#f0ad4e"><%=followup.status%></span></strong>
                                    <% else %>
                                    <strong><span style="color:#d9534f"><%=followup.status%></span></strong>
                                    <% end %>

                                    &emsp;<strong><%= link_to "#{followup.title}", objective_path(followup) %></strong>
                                    <div id='progress'>
                                        <i><%=followup.progress%>% - Due in
                                        <%= distance_of_time_in_words_to_now(followup.deadline)%></i>
                                    </div>
                                </div>

                            </div>
                            <% end %>

                          </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
